<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li>
				<a href="#">User</a>
				<ul>
					<li><a href="/user/register">Register</a></li>
					<li><a href="/user/login">Login</a></li>
					<li><a href="/user/profile">Profile</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>
